@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.about {
  padding: 30px; /* Same padding as header */
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  text-align: left; /* Align text to the left */
  position: relative; /* Ensure proper stacking context */
  z-index: 1; /* Raise z-index to avoid overlap with the menu */
}

.about h2 {
  color:#d1d1cf; 
  font-size: 3rem;
}

.firstPart p{
  color:#808080;
  margin-bottom: 60px;
}





.firstPart {
  margin-right: 300px;
}

.location {
  display: flex;
  align-items: center;
  color: #808080;
  font-size: 1.2em;
  position: relative;
}
.location::after {
  content: ''; /* Creates a pseudo-element */
  display: block; /* Makes it a block element */
  height: 0; /* No height */
  border-top: 2px dotted white; /* Dotted line */
  width: 900px; /* Length of the line */
  margin-top: 0px; /* Space between text and line */
  position: absolute; /* Positioning for alignment */
  margin-left: 180px; /* Align to the left */
}

.education{
  margin-top: 200px;
}
.education h3{
  color:#d1d1cf; 
  font-size: 1.5rem;
  margin-bottom:30px;
}
.gpa{
  margin-bottom:50px;
}
.gpa b, .exchange b{
  color:#d1d1cf; 
}
.gpa p, .exchange p{
  color: #808080;
}
.dotted_line::after {
  content: ''; /* Creates a pseudo-element */
  display: block; /* Makes it a block element */
  height: 2px; /* Adjust height to match the line thickness */
  background: repeating-linear-gradient(
    to right,
    white,
    white 4px,
    transparent 4px,
    transparent 8px
  ); /* Adjust spacing and dot size */
  width:1100px;
  margin-top: 40px; /* Space between text and line */
  position: absolute; /* Positioning for alignment */
  margin-left: 5px;
}
.dotted_line{
  margin-bottom: 150px;
}
.skills h3{
  color:#d1d1cf; 
  font-size: 1.5rem;
}
.skills p{
  margin-right: 300px;
  color: #808080;
}
.experience h3{
  margin-top: 70px;
  color:#d1d1cf; 
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.bionics{
  margin-bottom:50px;
}
.bionics b, .mech b{
  color:#d1d1cf; 
}
.bionics p, .mech p{
  color: #808080;
}


.connect:hover {
  transform: scale(1.1); /* Enlarged on hover */
}

.connect{
  color: #808080; /* Grey color for all text */
  font-family: 'Poppins', sans-serif; /* Ensure Poppins font */
  font-size: 6em;
  text-align: center;
  transition: transform 0.3s; /* Smooth hover animation */
  width: 100%; /* Cover full part */
  cursor: pointer; /* Indicate it's clickable */
  font-family: 'Poppins', sans-serif; /* Ensure Poppins font */
}

